<!doctype html>
<html>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta http-equiv="refresh" content="2"/>
   
   <body>
   <div class="row">
   <div class="col-lg-4"></div>
   <div class="col-lg-4"><h3> <center>-Sera Değerleriniz-</center> </h3></div>
   <div class="col-lg-4"></div></div>
 <hr>
 <div class="row"><div class="col-lg-4"></div>
 <div class="col-lg-4">
     <center> <table border = 1>
         <thead>
            <td height="61px" width="121px"> <center><HR>!! İSİM !! <HR></center></td>
            <td height="61px" width="121px"> <center><HR>!! DURUM !!<HR> </center></td>  
            <td height="61px" width="121px"> <center><HR>!! DEGER !!<HR> </center></td>
      
         </thead>
         
         {% for row in rows %}
    
            <tr>
               <td> <center>{{row["isim"]}} </center></td>
               <td> <center>{{row["Durum"]}} </center></td>
               <td> <center> {{row["deger"]}} </center></td>
            </tr>
         {% endfor %}
      </table></center>
   
      <br>
      <hr>
    <a href = "/"><center>Giriş Ekranına Geri Dön..</center></a>
      </div>
      
      </div>
  <hr><div><div class="col-lg-2"></div>
      <div class="col-lg-4"> <button ><a href="/my-link/">Elektrik Kes</a></button></div>
      <div class="col-lg-2"></div>
      <div class="col-lg-4"> <button ><a href="/my-link2/">Motor Çalıştır</a></button></div></div>

 

      <hr><hr><hr><br>

      <div>
      <div class="col-lg-7"><img height="461px" width="2222px" src="https://2.bp.blogspot.com/-pLLWS1j5PCQ/VqyQUTUqtdI/AAAAAAABE64/QYlUh6421co/s1600/2de5113b6a62d0360130b90442106237_large.jpeg"/> </center></div>
      <div class="col-lg-1"> 
     <table border = 4 >
            <tr bgcolor="white">
               <td height="61px" width="22px"> <center><img height="61px" width="100px" src="https://st2.depositphotos.com/3369547/11872/v/950/depositphotos_118727420-stock-illustration-thermometer-temperature-science-glass-icon.jpg"/></center></td>
              
            </tr>
              <tr bgcolor="white">
               <td height="41px" width="22px"> <center><img height="61px" width="100px" src="https://st3.depositphotos.com/3265223/16483/v/1600/depositphotos_164838606-stock-illustration-humidity-icon-vector-sign.jpgg"/></center></td>
              
            </tr>
              <tr bgcolor="white">
               <td height="61px" width="122px"> <center><img height="61px" width="120px" src="https://www.havalandirmasepeti.com/image/cache/SAN%20PNG/BVN%20fiyatlistesi2-163-500x500.png"/> </center></td>
               
            </tr>
             <tr bgcolor="white">
               <td height="41px" width="22px"> <center><img height="51px" width="100px" src="http://www.memleket.com.tr/d/news/284795.jpg"/> </center></td>
              
            </tr>

      
      </table>
      </div>
      
      <div class="col-lg-4"> 
      
       <table border = 3>
        
         {% for row in rows %}
    
            <tr bgcolor="white">
               <td height="61px" width="122px"> <center>{{row["isim"]}} </center></td>
               <td height="61px" width="122px"> <center> {{row["deger"]}} </center></td>
            </tr>
         {% endfor %}
      </table>
      </div>
      <div class="col-lg-1">
      
            <table border="1">
<tr>
</tr>
  
      <div class="col-lg-4">




 
            
  
   </body>
</html>

    
         

    
        