<!doctype html>
<html>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta http-equiv="refresh" content="2"/>
   
   <body>
   <div class="row">
   <div class="col-lg-4"></div>
   <div class="col-lg-4"><h3> <center>-Sera Değerleriniz-</center> </h3></div>
   <div class="col-lg-4"></div></div>
 <hr>
 <div class="row"><div class="col-lg-4"></div>
 <div class="col-lg-4">
     <center> <table border = 1>
         <thead>
            <td height="61px" width="121px"> <center><HR>!! İSİM !! <HR></center></td>
            <td height="61px" width="121px"> <center><HR>!! DURUM !!<HR> </center></td>  
            <td height="61px" width="121px"> <center><HR>!! DEGER !!<HR> </center></td>
      
         </thead>
         
         {% for row in rows %}
    
            <tr>
               <td> <center>{{row["isim"]}} </center></td>
               <td> <center>{{row["Durum"]}} </center></td>
               <td> <center> {{row["deger"]}} </center></td>
            </tr>
         {% endfor %}
      </table></center>
   
      <br>
      <hr>
    <a href = "/"><center>Giriş Ekranına Geri Dön..</center></a>
      </div>
      <div class="col-lg-4"> <button ><a href="/my-link/">Elektrik Kes</a></button></div>
      </div>
  <hr>

 

      <hr>
      <center>   
      

      <table border="1">
<tr>
    <td colspan="5"><center>Sera Grafik</center></td>
</tr>
 
<tr>
    <td>Motor </td> 
     <td><center><img width="100px" src="https://www.havalandirmasepeti.com/image/cache/SAN%20PNG/BVN%20fiyatlistesi2-163-500x500.png"/> 
     <BR>  <center> <BR></center></td>
    <td rowspan="2"><center><img src="http://img.sirketce.com/1/9/8b2a4e72394f4053e51eb24c59927368/post/18a51d4d143c2e5b84e759fb241e8c14/2aa8a92928d03c86bd91c46ac982ee7e/736_736_018fbbdab712a9c9bf168df92ae6f361.jpg"/> </center></td>
     <td><center><img width="100px" src="http://www.memleket.com.tr/d/news/284795.jpg"/></center></td>    
     <td>Su<br> Pompası</td>
</tr>
 
<tr> 
    <td>Sıcaklık</td>
    <td><center><img width="100px" src="https://st2.depositphotos.com/3369547/11872/v/950/depositphotos_118727420-stock-illustration-thermometer-temperature-science-glass-icon.jpg"/></center></td>
  
        <td><center><img width="100px" src="https://st3.depositphotos.com/3265223/16483/v/1600/depositphotos_164838606-stock-illustration-humidity-icon-vector-sign.jpgg"/></center></td>   
          <td>Nem </td>   
</tr> 
</table>
      
      </center>
            
  
   </body>
</html>

    
         

    
        